{% extends 'base.html' %}
{% block content %}
<style>
    #new-btn {
	background-color: var(--panel-color);
	padding: 10px 20px;
	border-radius: 20px;
	color: var(--text-color);
	text-decoration: none;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#new-btn:hover {
	text-decoration: none;
	color: var(--text-color);
}

.dash-card {
    height: 140px;
    width: 500px;
    padding-top: 45px;
}

.card-body {
    width: 100%;
}

.month-chart {
    width: 900px;;
}


@media (max-width: 1200px) {
    .dash-card {
        height: 140px;
        width: 350px;
        padding-top: 45px;
    }

    .month-chart {
        width: 750px;
    }

  }

  /* Styles for screens under 600px */
  @media (max-width: 600px) {
    .dash-card {
        height: 100px;
        width: 280px;
        padding-top: 30px;
        align-items: top;
    }

    h4 {
        font-size: 12px;
    }

    .card-body {
        width: 100%;
    }

    .month-chart {
        width: 350px;
    }


  }
</style>


<br>
<h1 class="text-center mb-5">Budget for {{ month }}</h1>


{% if budget %}

<div class="container d-flex flex-column align-items-center">
    <div class="row container d-flex justify-content-center align-items-center">
        <div>
            <div class="dash-card mt-0">
                <div class="dash-card-left">
                    <h4 class="m-0 p-0">Budget for {{ month }}</h4>
                    <h6>£{{ budget.amount }}&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'budget_update' budget.id %}"><i style="padding: 0; font-size: 20px; color: gray" class="uil uil-edit"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'budget_delete' budget.id %}"><i style="padding: 0; font-size: 20px; color: gray" class="uil uil-trash-alt"></i></a>
                    </h6>
                </div>
                <i class="uil uil-money-stack"></i> <!-- Add your icon here -->
            </div>
            <div class="dash-card">
                <div class="dash-card-left">
                    <h4>Budget remaining</h4>
                    <h6>£{{ budget_remaining }}</h6>
                </div>
                <i class="uil uil-balance-scale"></i> <!-- Add your icon here -->
            </div>
            <div class="dash-card">
                <div class="dash-card-left">
                    <h4>Total Spent for {{ month }}</h4>
                    <h6>£{{ monthly_expenses_sum }}</h6>
                </div>
                <i class="uil uil-upload-alt"></i> <!-- Add your icon here -->
            </div>
        </div>
        <div id="chart-section" style="height: 500px; width: 400px;">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="card month-chart">
        <div class="card-body">
            <h4 class="text-center">Expenses for {{ month }}</h4>
            <br>
            <table id="income-table" class="table">
                <thead>
                    <tr>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Category</th>
                        <th class="date text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td class="text-danger text-center">{{ expense.amount }}</td>
                        <td class="text-center">{{ expense.category }}</td>
                        <td class="text-center">{{ expense.date|date:"d/m/Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
    












{% else %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h3>You have no budget...</h3><br>
                <a href="{% url 'budget_create' %}" class="text-center" id="new-btn" style="background-color: #60e7ff; color: black;"> + Create Budget</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

    
    
    
    
    

    
    
    
{% if budget %}


<script>
    const ctx = document.getElementById('myChart')

    
    new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Budget', 'Budget Remaining', 'Total Spent'],
        datasets: [{
            label: '{{ month }} Budget Details',
            // Don't worry about the red lines, it works fine but VScode 
            // gets confused when you put python variables in JS
            data: [{{ budget.amount }}, {{ budget_remaining }}, {{ monthly_expenses_sum }}],
            backgroundColor: [
                '#60e7ff',   // Budget
                '#03EF62',   // Budget Remaining
                '#ff931e',   // Total Spent
            ],
            borderColor: 'rgba(0, 0, 0, 1)',
            borderWidth: 0,
        }]
    },
    options: {
        maintainAspectRatio: true,
        aspectRatio: 500 / 600,
        scales: {
            y: {
                grid: {
                color: 'rgba(0, 0, 0, 0.1)',
                lineWidth: 0, // For grid lines
            },
                beginAtZero: true,
                stacked: true
            },
            x: {
                grid: {
                color: 'rgba(0, 0, 0, 0.1)',
                lineWidth: 0, // For grid lines
            },
                stacked: true
            }
        },
        plugins: {
            legend: {
                display: false,
                position: 'top'
            }
        },
        elements: {
        line: {
            borderColor: 'rgba(0, 0, 0, 1)', // Example line color
            borderWidth: 19 // Example line width
        }
    }
    }
});
</script>
{% endif %}



{% endblock %}