{% extends 'base.html' %}
{% block content %}

<h1 style="margin-left: 5.5vmin;">Your Dashboard</h1>
<br>
<div class="dash-card-container">
    <a href="{% url 'accounts' %}" class="dash-card-link">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Current Balance</h4>
                <h4>£{{ balance|floatformat:2 }}</h4>
            </div>
            <i class="uil uil-balance-scale"></i>
        </div>
    </a>
    <a href="{% url 'budget' %}" class="dash-card-link">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Monthly Budget</h4>
                {% if budget %}
                    <h4>£{{ budget.amount|floatformat:2 }}</h4>
                {% else %}
                    <h4>No Budget</h4>
                {% endif %}
            </div>
            <i class="uil uil-money-stack"></i>
        </div>
    </a>
    <a href="{% url 'incomes' %}" class="dash-card-link">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Incomes</h4>
                <h4>£{{ total_incomes|floatformat:2 }}</h4>
            </div>
            <i class="uil uil-download-alt"></i>
        </div>
    </a>
    <a href="{% url 'expenses' %}" class="dash-card-link">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Expenses</h4>
                <h4>£{{ total_expenses|floatformat:2 }}</h4>
            </div>
            <i class="uil uil-upload-alt"></i>
        </div>
    </a>
    {% if main_account %}
    <a href="{% url 'account_detail' main_account.id %}" class="dash-card-link">
        <div class="dash-card">
            <div class="dash-card-left">
                <h4>Main Account</h4>
                <h4>£{{ main_account.balance|floatformat:2  }} </h4>
            </div>
            <div class="bank-logo pb-3">
                <img src="static/images/{{ main_account.name }}-Logo.png" alt="logo">
            </div>
        </div>
    </a>
    {% endif %}
    <a href="{% url 'expenses' %}" class="dash-card-link">
        <div class="dash-card">
            <div>
                <h3>Stock</h3>
                <h3>Market</h3>
            </div>
            <i class="uil uil-chart-line" style="background-color: #0077c4;"></i>
        </div>
    </a>
    <a href="{% url 'expenses' %}" class="dash-card-link">
        <div class="dash-card">
            <div>
                <h3>Investment</h3>
                <h3>Calculator</h3>
            </div>
            <i class="uil uil-chart"></i>
        </div>
    </a>
    <a href="{% url 'expenses' %}" class="dash-card-link">
        <div class="dash-card">
            <div>
                <h3>UK Tax</h3>
                <h3>Calculator</h3>
            </div>
            <i class="uil uil-calculator-alt"></i>
        </div>
    </a>
</div>


    

{% endblock %}